#siteorigin-about-page {

	margin-left: 0;
	margin-right: 0;

	$about_container_width: 640px;

	.about-container {
		box-sizing: border-box;
		max-width: $about_container_width;
		margin: 0 auto;
		position: relative;
	}

	.about-header {
		background-color: #eaeaea;
		margin: -10px 0 20px -21px;
		padding: 30px 20px;
		border-bottom: 1px solid #d0d0d0;
		text-align: center;
		position: relative;

		h1 {
			font-weight: 300;
			font-size: 26px;
			line-height: 1em;
			margin: 0;
			padding: 0;
		}

		.version {
			font-weight: 300;
			display: inline-block;
			font-size: 12px;
			position: absolute;
			padding: 3px 5px;
			background: #fff;
			line-height: 1em;
			margin-left: 5px;
			color: #0073aa;
			border-radius: 2px;
			top: -0.5em;
			left: 105%;
		}


		.title-image-wrapper {
			display: inline-block;
			position: relative;

			img {
				display: block;
			}
		}

		.top-area-tabs {
			position: absolute;
			top: 0;
			right: 40px;

			margin: 0;
			padding: 0;

			li {
				float: left;
				display: block;
				margin-right: 5px;
				margin-top: 7px;

				a {
					text-decoration: none;
					line-height: 1em;
					padding: 7px 16px 8px 16px;
					background-color: #fff;

					border: 1px solid #c0c0c0;
					border-top: 0;

					box-shadow: 0 1px 1px rgba( 0,0,0,0.075 );
				}

				&:last-child {
					margin-right: 0;
				}

				&.about-highlight {
					a {
						font-weight: bold;
						background-color: #f5d382;
						border-color: #846a29;
						color: #121212;
						box-shadow: 0 1px 1px rgba( 0,0,0,0.125 );
					}
				}
			}
		}
	}

	.about-video {
		background-color: #f4f4f4;
		margin: -20px 0 30px -21px;
		padding: 30px 22px;

		border-bottom: 1px solid #e0e0e0;

		.about-play-video {
			top: 0;
			left: 0;
			width: $about_container_width;
			height: $about_container_width / 1.777778;
			position: absolute;
			z-index: 2;
			display: block;

			svg {
				position: absolute;
				bottom: 15px;
				left: 20px;
				width: 80px;

				.st0{
					opacity:0.5;
					fill: #000000;
				}

				.st1{
					fill:#FFFFFF;
				}
			}

			&:hover {
				svg {
					.st0 {
						opacity: 0.75;
						fill: #09adef;
					}
				}
			}
		}

		.about-video-images {
			width: $about_container_width;
			height: $about_container_width / 1.777778;
			display: block;

			.about-video-image {
				top: 0;
				left: 0;
				width: $about_container_width;
				height: $about_container_width / 1.777778;
				position: absolute;
				-webkit-background-size: cover;
				background-size: cover;
				background-position: center top;
			}
		}

		.about-video-watch {
			margin-top: 5px;
			text-align: center;
			font-weight: bold;

			a {
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}

		.about-video-description {
			text-align: center;
			margin-top: 25px;
		}

		.about-share {
			text-align: center;
			margin-top: 20px;

			.about-share-title {
				font-size: 0.9em;
				line-height: 1em;
				margin-bottom: 0.75em;
				font-weight: bold;
				color: #444;
			}

			a {
				display: inline-block;
				text-decoration: none;
				border-radius: 3px;
				padding: 5px;

				&.about-share-facebook {
					background: #4d70a8;

					&:hover {
						background: #5577af;
					}
				}

				&.about-share-twitter {
					background: #00bbf2;

					&:hover {
						background: #25c4fb;
					}
				}

				&.about-share-googleplus {
					background: #e3401d;

					&:hover {
						background: #ec4a23;
					}
				}

				.dashicons {
					color: #fff;
					font-size: 18px;
					width: 18px;
					height: 18px;
				}
			}
		}
	}

	.about-sections {

		margin-left: -21px;
		padding: 0 20px;

		.about-container {
			max-width: 1024px;
		}

		.about-section {
			border-radius: 2px;
			background: #fafafa;
			padding: 30px;
			border: 1px solid #d8d8d8;
			margin-bottom: 25px;

			h3 {
				margin-bottom: 25px;
			}

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}

			.about-image-right {
				float: right;
				margin: 0 0 1em 2em;
			}

			.about-image-left {
				float: left;
				margin: 0 2em 1em 0;
			}

			.about-image-no-text-below {
				margin-bottom: 0;
			}

			p:after{
				content: "";
				display: table;
				clear: both;
			}
		}

	}

	.about-siteorigin-logo{
		margin-top: 60px;
		text-align: center;

		p {
			line-height: 1em;
			font-size: 0.7em;
			color: #999;
			margin-bottom: 8px;
		}

		img {
			opacity: 0.75;
			height: 26px;
			width: auto;
		}
	}

}
