#siteorigin_page_settings {
	.inside {
		color: #3c434a;

		label {
			text-transform: capitalize;
		}
	}
	
	p:not(.description) {
		margin: 1em 0 0.25em;
	}

	.edit-post-meta-boxes-area #poststuff & h2.hndle {
		font-size: 13px;
		font-weight: 500;
		padding: 16px 48px 16px 16px;
		text-transform: capitalize;
	}
}
