#so-premium-modal .so-modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
#so-premium-modal .so-modal-titlebar,
#so-premium-modal .so-modal-content,
#so-premium-modal .so-modal-toolbar {
  position: fixed;
  background: #f0f0f0;
  z-index: 999999;
  padding: 15px;
  box-sizing: border-box; }
#so-premium-modal .so-modal-titlebar {
  top: 30px;
  left: 30px;
  right: 30px;
  height: 50px;
  background-color: #fafafa;
  border-bottom: 1px solid #d8d8d8; }
  #so-premium-modal .so-modal-titlebar .so-modal-title {
    margin: 0 58px 0 0;
    line-height: 1.25em; }
  #so-premium-modal .so-modal-titlebar .so-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 58px;
    width: 56px;
    cursor: pointer;
    border-left: 1px solid #d8d8d8; }
    #so-premium-modal .so-modal-titlebar .so-modal-close .so-modal-close-icon {
      display: block;
      position: absolute;
      top: 3px;
      left: 16px; }
      #so-premium-modal .so-modal-titlebar .so-modal-close .so-modal-close-icon:before {
        display: inline-block;
        font: normal 22px/45px dashicons;
        content: "\f335"; }
#so-premium-modal .so-modal-content {
  top: 80px;
  left: 30px;
  right: 30px;
  bottom: 88px;
  background-color: #fdfdfd;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.03); }
#so-premium-modal .so-modal-toolbar {
  height: 58px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: #fafafa;
  border-top: 1px solid #d8d8d8; }
